.colors{

    color: #bdffff;
    color: #85d0ff;
    color: #ffdeaf;
    color: #fcaa7b;
    color: #e5c41e;
    color:#fcc487 ;
    color: #f5cf8f;
    color: #51dd57;
    color:#06c3f7 ;
    color:#fcd002 ;
    color: #313440;
    color:#008cfe ;
    color:#cfe8fe ;
    color: #a587fe;
    color:#463020 ;
    color:#f9b0f5 ;
    color: #e34860;
    color: #166f82;
    color:#2b386c ;
    color:#c7b6c5 ;
    color:#f8cdfc ;
    color:#f05de1 ;
    color:#23d922 ;
    color:#f3a2d0 ;
    color: #f9d894;
    color:#7a9cff ;
    color:#0146d5 ;
    color:#ffca8b ;
    color:#be99fa ;
    color:#2d0966 ;
    color:#5eb6ff ;
    color:#d8d720 ;
    color: #077cfa;
    color:#ffec90 ;
    color:#6102ef ;
    background-image: linear-gradient(#cdb6ff,#7555ce);
    background-image: linear-gradient(#8a60ff,#f4e6ff);
    background-image: linear-gradient(#f9aed9,#ffe8f5);
    background-image: linear-gradient(#e34860,#eab6c4);
    background-image: linear-gradient(#3690ff,#b5d6fe);
    background-image: linear-gradient(#f0f8ff,#a7cefc);
    background-image: linear-gradient(#a590f5,#e3c9ff);
    background-image: linear-gradient(#e8cca5, #dfa230);
    background-image: linear-gradient(#f0e2e0, #a88a72);
}


